<div class="mx-auto bg-white dark:bg-zinc-800 rounded-xl shadow-md overflow-hidden">
  <div class="md:flex h-full">
    {{ $images := .Resources.ByType "image" }}
    {{ $image := $images.GetMatch "{*cover*,*thumbnail*}" }}
    {{ if not $image }}{{ $image = index $images 0 }}{{ end }}
    {{ with $image }}
      <picture class="md:shrink-0">
        {{ with .Resize "1000x webp" | fingerprint }}
        <source srcset="{{ .RelPermalink }}" type="image/webp">
        {{ end }}
        {{ with .Resize "1000x jpg" | fingerprint }}
        <img loading="lazy" class="h-48 w-full object-cover md:h-full md:w-48" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $image.Title }}">
        {{ end }}
      </picture>
    {{ end }}
    <div class="p-8 md:h-full">
      <p class="uppercase tracking-wide text-sm text-indigo-700 font-semibold">{{ dateFormat "2 January 2006" .Date }}</p>
      <a href="{{ .RelPermalink }}" class="block mt-1 text-lg leading-tight font-medium">{{ .Title }}</a>
      <div class="mt-2 prose prose-sm prose-zinc">{{ .Summary }}</div>
    </div>
  </div>
</div>
