@font-face {
  font-family: AutumnMoon;
  src: url(../fonts/autumn-moon/AutumnMoon.woff) format("woff"),
    url(../fonts/autumn-moon/AutumnMoon.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/inter/Inter-Light.woff2) format("woff2"),
    url(../fonts/inter/Inter-Light.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter/Inter-Regular.woff2) format("woff2"),
    url(../fonts/inter/Inter-Regular.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/inter/Inter-Medium.woff2) format("woff2"),
    url(../fonts/inter/Inter-Medium.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/inter/Inter-SemiBold.woff2) format("woff2"),
    url(../fonts/inter/Inter-SemiBold.woff) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/inter/Inter-Bold.woff2) format("woff2"),
    url(../fonts/inter/Inter-Bold.woff) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/inter/Inter-ExtraBold.woff2) format("woff2"),
    url(../fonts/inter/Inter-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "rad-icons";
  src: url("../fonts/rad-icons.eot?32706191");
  src: url("../fonts/rad-icons.eot?32706191#iefix") format("embedded-opentype"),
    url("../fonts/rad-icons.woff2?32706191") format("woff2"),
    url("../fonts/rad-icons.woff?32706191") format("woff"),
    url("../fonts/rad-icons.ttf?32706191") format("truetype"),
    url("../fonts/rad-icons.svg?32706191#rad-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
