@charset "UTF-8";

@import "photoswipe/main";
@import "photoswipe/default-skin/default-skin";

@import "main";
@import "rad-icons";

.swipe-gallery {
  width: 100%;
  float: left;

  img {
    width: 100%;
    height: auto;
  }
  figure {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 150px;
  }
  figcaption {
    display: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

#showcase .hat-1 {
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
}

#showcase h1 {
  margin-top: 5px;
  font-weight: 300;
  font-size: 2.1em;
  letter-spacing: -1px;
}

.rad-showcase__bg img {
  margin-top: 0;
  max-height: none;
}

#changelog small,
#changelog h1,
#changelog h2,
#changelog h3,
#changelog p,
#changelog p a {
  color: white;
}

#changelog p a:hover {
  border-bottom: 2px solid white;
}

figcaption p {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
}

.publishedBy {
  color: rgba(0, 0, 0, 0.3);
}

.morelink {
  word-break: keep-all;
  margin-left: 2em;
}

.content-column {
  img {
    margin: 0 auto;
  }

  figure img {
    display: block;
  }

  ul {
    margin: 0 0 1em 0;
    padding: 0;
  }

  li {
    margin-left: 5px;
  }

  .gallery {
    position: relative;
    background: white;
    z-index: 1;
    margin-bottom: 2em;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: repeating-linear-gradient(
        -45deg,
        white,
        white 20px,
        black 20px,
        black 40px
      );
      z-index: -1;
      transition: opacity 2s ease-in;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }

    img {
      display: inline;
      margin: 0 1em 0 0;
    }
  }

  figcaption {
    text-align: center;
  }
}

.education:before {
  z-index: -1;
}

section#flash {
  background-color: gold;
  padding: 30px 0 30px 0;
}

section#flash h3 {
  font-weight: 600;
  line-height: 1.78;
  font-size: 18px;
}

section#flash p {
  font-weight: 300;
  line-height: 1.78;
  font-size: 18px;
}

.highlight,
pre {
  display: none;
}

@media (min-width: 992px) {
  .highlight,
  pre {
    display: block;
    overflow: clip;
    margin-bottom: 2em;
  }

  section#flash p {
    margin-bottom: 18px;
  }
}

section#about {
  margin-top: 0;
}

.header .navbar-brand {
  flex-direction: row;
  justify-content: left;
  margin-left: auto;
}

.header .navbar-brand img {
  max-height: 50px;
  height: 50px;
}

.header .navbar-brand img.sbA {
  width: 50px;
}

.header .navbar-brand img.sbB {
  width: 45px;
}

.header .navbar-brand img.sbC {
  width: 65px;
  padding-bottom: 1px;
  transform-origin: 50% 40%;
}

.header .navbar-brand img.sbD {
  width: 50px;
}

.btn svg,
button svg {
  margin-left: 0.5em;
}

.section li {
  line-height: 1;
}

p {
  margin-bottom: 1em;
}
