@charset "UTF-8";

@import "css/main"; // photoswipe
@import "css/default-skin/default-skin";

@import "font-face";
@import "main";
@import "galleries";

// this here is the devil's work.
// it helps the browser layout engine and prevents content shifts.
.aspectBox-portfolio {
  overflow: hidden;
  height: 0;
  padding-top: 65.78%;
}

@keyframes button-loading {
  0% {
    right: 100%;
  }
  100% {
    right: -100%;
  }
}
