<div class="md:grid md:grid-cols-4 gap-4">
  <main class="h-entry md:col-span-3">
    <article class="leading-first prose dark:text-zinc-400 max-w-none mb-12">
      {{ .Content }}
    </article>

    <section class="mb-4 services grid grid-cols-1 lg:grid-cols-3 gap-6">
      {{ $services := index .Site.Data (printf "services.%s" .Site.Language.Lang) }}
      {{ range $services }}
      <div
        class="card bg-zinc-800 dark:bg-zinc-700 rounded-xl shadow-md overflow-hidden"
      >
        <div class="card-header w-full bg-amber-800 dark:bg-amber-700 p-4">
          <h3 class="text-white dark:text-zinc-100 font-medium text-lg">
            {{ .title }}
          </h3>
        </div>
        <div class="card-body text-sm p-6">
          <p class="mb-4 text-zinc-100 dark:text-zinc-200">
            {{ .description }}
          </p>
          <ul class="mb-6 space-y-2 text-zinc-100 dark:text-zinc-200">
            {{ range .features }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    </section>
  </main>

  <aside class="md:col-span-1">
    <p class="text-sm">{{ .Site.Param "sidebar" }}</p>

    <address class="font-semibold">
      {{ partial "contact/calendly" . }}
      {{ partial "contact/email" . }}
      {{ partial "contact/whatsapp" . }}
    </address>
  </aside>
</div>
