<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Param "description" }}">
    {{ with resources.Get "css/main.css" | postCSS }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
</head>
<body class="bg-white text-gray-800 text-lg leading-loose font-sans">
  <main>
    {{ block "main" . }}
    {{ end }}
  </main>

  <footer class="bg-gray-100 py-4">
    {{ block "footer" . }}
      <div class="container mx-auto text-center">
      <a href="mailto:your-email@example.com" class="text-amber-600 hover:underline">Email</a> | 
      <a href="https://wa.me/yourphonenumber" class="text-amber-600 hover:underline">WhatsApp</a><br>
      VAT ID: NL001734749B64 | KVK: 70132208
      </div>
    {{ end }}
  </footer>
</body>
</html>
