<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    {{ with resources.Get "css/main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
    {{ partial "favicon" . }}
    {{ template "_internal/opengraph.html" . }}
</head>
<body class="bg-amber-50 text-zinc-800 dark:bg-amber-950 dark:text-zinc-100 text-lg leading-loose font-sans">
  {{ block "header" . }}
    {{ with resources.Get "images/audience_music.png" }}
      <header
        class="bg-cover bg-center"
        style="height: 40vh; background-image:
          url({{ (.Resize "1400x webp" | fingerprint).RelPermalink }}),
          url({{ (.Resize "1400x jpg" | fingerprint).RelPermalink }})">
        <div class="relative h-full flex flex-col justify-center items-center text-amber-50 text-center">
          <h1 class="font-black text-5xl mb-4 drop-shadow">{{ $.Site.Title }}</h1>
          {{ with ($.Param "subtitle") }}<p class="font-black text-3xl mb-4 drop-shadow">{{ . }}</p>{{ end }}
        </div>
      </header>
    {{ end }}
  {{ end }}

  <div class="container mx-auto px-6 lg:px-0 py-12 max-w-screen-lg">
    {{ block "main" . }}
    {{ end }}
  </div>

  <footer class="bg-amber-100 text-zinc-600 py-12 text-base">
    {{ block "footer" . }}
    <div class="container mx-auto mb-12 px-6 lg:px-0 max-w-screen-lg">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <dl>
          <dt class="font-bold">VAT ID</dt>
          <dd>NL001734749B64</dd>
        </dl>
        <dl>
          <dt class="font-bold">KVK</dt>
          <dd>70132208</dd>
        </dl>
      </div>
    </div>
    {{ end }}
  </footer>
</body>
</html>
