{{ define "main" }}
<section class="section section--border-bottom rad-animation-group">
  <div class="container">
    <div class="col-md-12 content-column white-background">
      <div class="row">
        <div class="content-column-content">
          <h1>{{ .Title }}</h1>
          {{ if .GitInfo }}
          <p class="lead publishedBy">
            Published by {{ .GitInfo.AuthorName }}
             on {{ dateFormat "2 January 2006" .PublishDate }}
            </p>
            {{ end }}
          {{ .Content }}
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-left">
          {{with .PrevInSection -}}
            🠔 Previously:
            <a href="{{.Permalink}}" rel="prev">{{ .LinkTitle }}</a>
          {{end}}
        </div>
        <div class="col-md-6 text-right">
          {{ with .NextInSection -}}
            Next:
            <a href="{{.Permalink}}" rel="prev">{{ .LinkTitle }}</a>
            ➞
            {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}