{{ define "title" }}{{ .Title }} – {{ .Site.Title }}{{ end }}
{{ define "header" }}
{{ $images := $.Resources.ByType "image" }}
{{ $hero := $images.GetMatch "*feature*" }}
{{ if not $hero }}{{ $hero = index $images 0 }}{{ end }}
<header class="bg-cover bg-center" style="background-image: url({{ $hero.RelPermalink }}); height: 60vh;">
  <div class="h-full flex flex-col justify-center items-center text-amber-50 font-black text-center">
      <h1 class="text-5xl mb-4 drop-shadow">{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</h1>
      <p class="text-4xl drop-shadow">{{ dateFormat "2 January 2006" .Date }}</p>
  </div>
</header>
{{ end }}
{{ define "main" }}
{{ partial "grids/content" . }}
{{ end }}