@charset "utf8";

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: theme(colors.amber.800);

    :hover {
        text-decoration: underline;
    }
}

.prose.leading-first > p:first-of-type {
    font-size: theme(fontSize.xl);
}

@media (prefers-color-scheme: dark) {
    .prose {
        strong,
        a,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: theme(colors.zinc.400)
        }
    }
    a {
        color: theme(colors.amber.200)
    }
}
