@charset "utf8";

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: theme(colors.amber.600);

    :hover {
        text-decoration: underline;
    }
}

.prose p:first-of-type {
    font-size: theme(fontSize.xl);
}

@media (prefers-color-scheme: dark) {
    a {
        color: theme(colors.amber.400)
    }
}
