{{ $jq := resources.Get "js/library/jquery-3.5.1.slim.min.js" }}
{{ $bs := resources.Get "js/library/bootstrap.min.js" }}
{{ $sh := resources.Get "js/library/sticky-header.js" }}
{{ $fe := resources.Get "js/library/feather.js" }}
{{ $ma := resources.Get "js/main.js" }}
{{ $js := slice $jq $bs $sh $fe $ma | resources.Concat "js/app.js" | minify | fingerprint }}
<script async type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ $logo := resources.Get "images/space-babies-logo.png" | fingerprint }}
<script type="application/ld+json">
  {{ $address := dict
    "@type" "PostalAddress"
    "streetAddress" .Site.Params.streetAddress
    "addressLocality" .Site.Params.addressLocality
    "postalCode" .Site.Params.postalCode
    "addressCountry" .Site.Params.addressCountry
  -}}
  {{ dict
    "@context" "https://schema.org"
    "@type" "Organization"
    "@id" (ref . "/")
    "name" .Site.Title
    "description" .Site.Params.description
    "url" (ref . "/")
    "location" $address
    "publicAccess" false
    "logo" $logo.Permalink
    "image" .Site.Params.images
    "priceRange" "$$$$"
    "vatID" .Site.Data.homepage.contact.vatID.number
    "email" .Site.Params.email | jsonify (dict "indent" "\t") | safeJS }}
  </script>
