{{ $jq := resources.Get "js/library/jquery-3.5.1.slim.min.js" }}
{{ $bs := resources.Get "js/library/bootstrap.min.js" }}
{{ $sh := resources.Get "js/library/sticky-header.js" }}
{{ $fe := resources.Get "js/library/feather.js" }}
{{ $ma := resources.Get "js/main.js" }}
{{ $js := slice $jq $bs $sh $fe $ma | resources.Concat "js/app.js" | minify | fingerprint }}
<script async type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ $logo := resources.Get "images/space-babies-logo.png" | fingerprint }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "{{ ref . "/" }}",
  "logo": "{{ $logo.Permalink }}"
}
</script>
