<section id="changelog" class="section section--cta">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <h2>
                    Latest in The Changelog:<br>

                {{ range first 1 ( where site.RegularPages "Type" "in" site.Params.mainSections ) }}
                <small>{{ .Title }}</small>
                </h2>
                <p class="lead">
                    <span class="icon-quote"></span>
                    {{ .Summary | plainify }}
                    <a class="morelink" href="{{ .RelPermalink }}">-> read more</a>
                </p>
                {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>