<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>{{ .Site.Data.homepage.head.title }}</title>

<link href="/css/main.css" rel="stylesheet">
<link href="/css/rad-icons.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">

<link rel="canonical" href="{{ .Permalink }}">
{{ with .Prev }}<link rel="prev" href="{{ .Permalink }}">{{ end -}}
{{ with .Next }}<link rel="next" href="{{ .Permalink }}">{{ end -}}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ $.Site.Title }}">
{{ if not .Date.IsZero }}
<meta property="og:updated_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>{{ end }}
{{- with .Params.videos }}{{- range . }}
<meta property="og:video" content="{{ .  }}">
{{ end }}{{ end -}}
{{ with .Language.Lang -}}
<meta property="og:locale" content="{{ . }}">{{ end }}
{{- if .IsPage }}
{{- if not .PublishDate.IsZero }}
<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
{{ else if not .Date.IsZero }}
<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>
{{ end }}
{{- if not .Lastmod.IsZero }}
<meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }}>{{ end }}
{{- else }}
{{- end }}{{/* .IsPage */}}
{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}{{ with .Params.series }}
{{- range $name := . }}
{{- $series := index $siteSeries $name }}
{{- range $page := first 6 $series.Pages }}
{{- if ne $page.Permalink $permalink }}
<meta property="og:see_also" content="{{ $page.Permalink }}">{{ end }}
{{- end }}
{{ end }}{{ end }}
{{- if .IsPage }}
{{- range .Site.Authors }}{{ with .Social.facebook }}
<meta property="article:author" content="https://www.facebook.com/{{ . }}">{{ end }}{{ with .Site.Social.facebook }}
<meta property="article:publisher" content="https://www.facebook.com/{{ . }}">{{ end }}
<meta property="article:section" content="{{ .Section }}">
{{- with .Params.tags }}{{ range first 6 . }}
<meta property="article:tag" content="{{ . }}">{{ end }}{{ end }}
{{- end }}{{ end }}
{{- with .Params.audio }}
<meta property="og:audio" content="{{ . }}">{{ end }}
{{- with .Params.locale }}
<meta property="og:locale" content="{{ . }}">{{ end }}
{{- with .Site.Params.title }}
<meta property="og:site_name" content="{{ . }}">{{ end }}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cac8c7">
<meta name="apple-mobile-web-app-title" content="Space Babies">
<meta name="application-name" content="Space Babies">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#cac8c7">
{{ with .OutputFormats.Get "RSS" -}}
{{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
{{- end }}