<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{{ $.Param "title" }}</title>
<script type="module">
  document.documentElement.classList.remove('no-js');
  document.documentElement.classList.add('js');
</script>
{{ partial "links.html" . }}

{{ with $.Param "description" }}<meta name="description" content="{{ . }}">{{ end }}
<meta name="apple-mobile-web-app-title" content="{{ $.Param "title" }}">
<meta name="application-name" content="{{ $.Param "title" }}">
{{ with $.Param "colors.tile" }}<meta name="msapplication-TileColor" content="{{ . }}">{{ end }}
{{ with $.Param "colors.theme" }}<meta name="theme-color" content="{{ . }}">{{ end }}

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}