<header class="header fixed-top rad-animation-group" id="header">
  <div class="container rad-fade-in">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a title="Meet the Space Babies!" class="navbar-brand" href="{{ .Site.BaseURL  }}">
        <img
          class="sbA"
          src="/img/general/sbA.svg"
          alt="Space Baby A"
        />
        <img
          class="sbB"
          src="/img/general/sbB.svg"
          alt="Space Baby B"
        />
        <img
          class="sbC"
          src="/img/general/sbC.svg"
          alt="Space Baby C"
        />
        <img
          class="sbD"
          src="/img/general/sbD.svg"
          alt="Space Baby D"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent, #header"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span data-feather="menu"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL  }}">HOME</a>
          </li>
          {{ range .Site.Menus.header }}
          <li class="nav-item">
            <a data-scroll class="nav-link" href="{{ .URL }}"
              >{{ .Name | upper }}</a
            >
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </div>
</header>

