<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Data.homepage.head.title }}{{ end }}</title>

<link href="/css/main.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">

<link rel="canonical" href="{{ .Permalink }}">
{{ with .Prev }}
<link rel="prev" href="{{ .Permalink }}">{{ end -}}
{{ with .Next }}
<link rel="next" href="{{ .Permalink }}">{{ end -}}
<meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Param "title" }}">
{{ end -}}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
{{ with  .OutputFormats.Get "webmanifest" }}<link rel="manifest" href="{{ .RelPermalink }}">{{ end }}
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cac8c7">

<meta name="apple-mobile-web-app-title" content="Space Babies">
<meta name="application-name" content="Space Babies">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#cac8c7">

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}