{{ $options := (dict
    "targetPath" "css/styles.css"
    "includePaths" (slice "static/css")
    "outputStyle" "compressed"
    "enableSourceMap" true) -}}
{{ $style := resources.Get "scss/custom.scss" | toCSS $options | resources.PostCSS | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{ range (slice "sbA" "sbB" "sbC" "sbD") -}}
<link rel="preload" as="image" href="{{ ($.Scratch.Get .).RelPermalink }}">
{{ end -}}

<link rel="canonical" href="{{ .Permalink }}">

<link rel="icon" type="image/svg+xml" href="{{ ($.Scratch.Get "sbA").RelPermalink }}">
<link rel="alternate icon" type="image/png" sizes="512x512" href="/favicon512.png">
<link rel="alternate icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="alternate icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cac8c7">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

{{- with .Prev }}<link rel="prev" href="{{ .Permalink }}">{{ end }}
{{ with .Next }}<link rel="next" href="{{ .Permalink }}">{{ end }}

{{- range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}
