{{ if .Site.Data.homepage.showcase.enable }}
<section id="showcase" class="rad-showcase rad-showcase--index  rad-fade-down">
  <div class="rad-showcase__bg">
    <picture>
      <source srcset="/img/showcase/showcase.jpg 320w, /img/showcase/showcase@2x.jpg" type="image/jpeg">
      <source srcset="/img/showcase/showcase.webp 320w, /img/showcase/showcase@2x.webp" type="image/webp">
      <img class="img-responsive"
        src="/img/showcase/showcase.jpg"
        loading="lazy"
        alt="">
    </picture>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <span class="hat-1">{{ .Site.Data.homepage.showcase.title }}</span>
        <h1>{{ .Site.Data.homepage.showcase.subtitle }}</h1>
        <p class="lead">
          {{ .Site.Data.homepage.showcase.description | safeHTML }}
        </p>
        {{ with .Site.Data.homepage.showcase.button }}
        <a href="{{ .URL }}" class="btn btn-primary">
          {{ .btnText }}
          <span data-feather="{{ .icon }}"></span>
        </a>
        {{ end }}
      </div>
    </div>
    <div class="row platform-links">
      <div class="col-12">
        {{ range .Site.Data.homepage.showcase.socialLinks }}
        <a href="{{ .URL }}">
          <span data-feather="{{ .icon }}"></span>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="rad-showcase rad-showcase__bg--mobile">
    <img class="img-responsive"
      src="/img/showcase/showcase.jpg"
      alt="Bla">
  </div>
</section>
{{ end }}