{{ if .Site.Data.homepage.testimonial.enable }}
<section class="section  section--border-bottom">
    <div class="container">
        <h2 class="rad-fade-down">{{ .Site.Data.homepage.testimonial.title }}</h2>
        <div class="row row--padded mb-0 rad-fade-down">
            {{ range .Site.Data.homepage.testimonial.items }}
            <div class="col-12 col-md-4 mb-5 mb-md-0 testimonial">
                <span data-feather="globe"></span>
                <p>
                    {{ .content }}
                </p>
                <div class="testimonial__author">
                    <img class="testimonial__author-image"
                         src="{{ .image.x }}"
                         srcset="{{ .image.x }} {{ .image.xw }}w, {{ .image._2x }} {{ .image._2xw }}w"
                         alt="{{ .name }}">
                    <div class="testimonial__author-info">
                        <h4>{{ .name }}</h4>
                        <span>{{ .position }}</span>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
