{{ define "main" }}
{{ $hero := resources.Get "images/tilsammans_diverse_audience_festival_setting_enjoying_music_e0c5cb22-0690-4a53-ae86-5b732cfdb031.png" }}
<div class="bg-cover bg-center" style="background-image: url({{ $hero.RelPermalink }}); height: 80vh;">
  <div class="h-full text-white flex flex-col justify-center items-center">
      <h1 class="text-5xl font-bold text-center mb-4">{{ .Site.Title }}</h1>
      {{ with .Param "subtitle" }}
        <p class="text-2xl font-bold text-center">{{ . }}</p>
      {{ end }}
  </div>
</div>

<div class="container mx-auto px-6 py-12 max-w-screen-lg">
  <div class="prose prose-amber max-w-none">
    {{ .Content }}
  </div>
</div>

{{ range first 10 .Site.RegularPages }}
{{ .Render "summary" }}
{{ end }}

{{ end }}