<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ with .Title }}<title>{{ . }}</title>{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">

{{ $bootstrap := resources.Get "css/bootstrap.min.css" }}
{{ $fa := resources.Get "css/font-awesome.min.css" }}
{{ $carousel := resources.Get "css/owl.carousel.css" }}
{{ $theme := resources.Get "css/owl.theme.css" }}
{{ $default := resources.Get "css/style.default.css" }}
{{ $custom := resources.Get "css/custom.css" }}
{{ $style := slice $bootstrap $fa $carousel $theme $default $custom | resources.Concat "css/style.css" | minify | resources.Fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">

<!-- Custom stylesheet - for your changes -->
<link href="{{ "css/custom.css" | absURL }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}">
{{ with .OutputFormats.Get "RSS" }}
  {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
{{ end }}
{{ template "_internal/google_analytics_async.html" . }}
