{{ partial "meta" . }}

<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic">
<link rel="stylesheet" href="{{ "css/font-awesome.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/owl.carousel.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/owl.theme.css" | relURL }}">

{{ with .Site.Params.style }}
  <link href="{{ printf "css/style.%s.css" . | relURL }}" rel="stylesheet" id="theme-stylesheet">
{{ else }}
  <link href="{{ "css/style.default.css" | relURL }}" rel="stylesheet" id="theme-stylesheet">
{{ end }}

<link href="{{ "css/custom.css" | relURL }}" rel="stylesheet">

<link rel="shortcut icon" href="{{ "img/favicon.png" | relURL }}">

{{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}">
{{ end }}

<link rel="`sitemap`" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml">
