<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url">
<base href="{{ .Permalink }}">
<title itemprop="name">{{ $.Site.Title }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
{{- template "_internal/opengraph.html" . -}}
<meta property="og:site_name" content="{{ $.Site.Title }}">
{{ with .Language.Lang }}<meta property="og:locale" content="{{ . }}">{{ end }}
{{ with $.Param "images" }}{{ range first 6 . }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}{{ end }}
