{{ $jquery := resources.Get "js/jquery.min.js" }}
{{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
{{ $cookie := resources.Get "js/jquery.cookie.js" }}
{{ $lightbox := resources.Get "js/ekko-lightbox.js" }}
{{ $scrollto := resources.Get "js/jquery.scrollTo.min.js" }}
{{ $pkgd := resources.Get "js/masonry.pkgd.min.js" }}
{{ $imagesloaded := resources.Get "js/imagesloaded.pkgd.min.js" }}
{{ $carousel := resources.Get "js/owl.carousel.min.js" }}
{{ $front := resources.Get "js/front.js" }}

{{ $js := slice $jquery $bootstrap $cookie $lightbox $scrollto $pkgd $imagesloaded $carousel $front | resources.Concat "js/app.js" | minify | resources.Fingerprint "sha512" }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

{{ if .Site.Params.analytics.matomo }}
  {{ partial "_analytics/matomo.html" . }}
{{ end }}
